<div style="text-align:center">
  <div class="main-container">
    <div id="gridWrapper">
    <div class="content">
      <h1>
        {{ title }}
      </h1>
      <p class="desc">David Wojnarowicz  was a prominent American painter, filmmaker, writer, photographer, performance artist and AIDS activist in the New York City art scene in the 1970s and 1980s.</p>

      <p class="desc">Although his art has always discussed political issues, in 1987 after the death of Peter Hujar, his long time lover and mentor, Wojnarowicz's art became even more politically charged. In early 1988, just a few months after the death of Hujar, Wojnarowitz was diagnosed with HIV. </p>

      <p class="desc">During this period, he moved away from painting and focused more on photography, collages and writing. There was a sharp turn in the mood and tone of his work also. His frustrations and anger stemming from perpetuated misinformation about the AIDS crisis, lack of available treatment and neglect from lawmakers are clearly visible in his later work.</p>

      <p class="desc">Wojnarowicz died in 1992 at the age of 37 in New York City from AIDS related complications.</p>

      <p class="desc" id="instructions">To interact with the timeline below, click through the images surrounding Wojnarowicz for a description of his work through the different periods of his life.</p>
      
    <div class="arrow">
        <a href="#mainContent">
                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45.89 16.58"><defs><style>.cls-1,.cls-2{fill:none;}.cls-1{stroke:#000;stroke-miterlimit:10;}.cls-2{stroke:#ce3b28;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title>Untitled-1</title><path class="cls-1" d="M82.68,1.8" transform="translate(-27.06 -16.71)"/><polyline class="cls-2" points="0.54 0.54 22.94 16.04 45.34 0.54"/></svg>
        </a>
    </div>

    <div id="bgContent">
      <iframe
        src="https://marvelapp.com/8e7c57d?emb=1&iosapp=false&frameless=false"
        allowTransparency="true" 
        frameborder="0" 
        class="mainWork">
      </iframe>
    </div>
      
    <div id="mainContent">
      <iframe
        src="https://marvelapp.com/43ic993?emb=1&iosapp=false&frameless=false" 
        allowTransparency="true" 
        frameborder="0" 
        class="mainWork">
      </iframe>
    </div>

    <div id="impactContent">
      <iframe
        src="https://marvelapp.com/43ic993?emb=1&iosapp=false&frameless=false" 
        allowTransparency="true" 
        frameborder="0" 
        class="mainWork">
      </iframe>
    </div>
    
    <app-content-create class="responsein" [grid]="grid"></app-content-create>
     <app-content-grid #grid></app-content-grid>
    </div>

    <div id="credit">
            <h2 class="sub">Created by Anna Vernacchio, Emily Frebowitz, Liza Comley & Susan Lunn</h2>

            <h2 class="sub">Made for the Art of Dying with Jessica Lieberman</h2>
    </div>
  </div>
   </div>
</div>
<router-outlet></router-outlet>
