* {
    box-sizing: border-box;
    font-family: 'Ropa Sans', sans-serif;
    color: #0c0c0c;
    padding: 0px;
    font-size: 1em;
    scroll-behavior: smooth;
  }

  body{
    width: 100vw;
    margin: 0px;
    overflow-x: hidden;
    background-color:#0c0c0c;
}
.content {
  position: relative;
}

#mainContent {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.mainWork{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

svg{
  width: 100%;
  height: auto;

  margin: 0 auto;
}

  .main-container {
    margin-bottom: 20px;
  }

  .main-container p {
      text-align: left;
  }

  .desc{
      max-width: 60em;
  }
  #credit{
      grid-area: footer;
      margin-top: 30px;
  }
  #instructions{
      margin-top: 60px; 
      font-weight: 300;
  }
#gridWrapper{
    display: grid;

  padding: 30px;
  border-radius: 3px;
  background-color: #bdb8b852;
    width: 95vw;
    max-width: 1600px;
    min-height: 100vh;

    margin: 0 auto;

    grid-template-columns: auto 50px auto;
    grid-template-rows: 90vh 7vh 3vh 100vh auto;

    grid-template-areas:
    "info info info"
    ". arrow ."
    ". . ."
    "main main main"
    "footer footer footer"
}


@media only screen and (max-width: 1600px){
    h1{
        font-size: 5.5vw;
    }
    
}

@media only screen and (max-width: 900px){
    p{
        font-size: .9em;
    }
}